[Unit]
Description=Set my own key maps

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xkeysnail -q /etc/xkeysnail/config.py
Type=simple

[Install]
WantedBy=multi-user.target
